<footer>
  <p mt-8 text-xs op-30>
    <span pr-1>Made by</span>
    <a
      b-slate-link
      href="https://github.com/DIWEIKA" target="_blank"
    >
      DIWEIKA
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="https://github.com/DIWEIKA/chatGPT-diweika-1.0" target="_blank"
    >
      Source Code
    </a>
  </p>
</footer>
